@import "./antd.custom.scss";
@import "./login.scss";

.p-r-20 {
  padding-right: 20px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // align-items: center;
  justify-items: center;
}
